$theme-color: lightseagreen;

body {
  background-color: whitesmoke !important;
}

nav.navbar {
  background-color: $theme-color !important;
}

.navbar-nav > .nav-item > .dropdown-menu > .dropdown-item.active,
.navbar-nav > .nav-item > .dropdown-menu > .dropdown-item:active {
  background-color: $theme-color;
}

footer {
  background-color: $theme-color;
}

.btn-theme {
  background-color: $theme-color !important;
  color: white !important;
}

.btn-theme:focus {
  box-shadow: 0 0 0 0.25rem rgba($theme-color, 0.25) !important;
}