$theme-bg-color: lightseagreen;
$theme-text-color: white;

body {
  background-color: whitesmoke !important;
}

nav.navbar {
  background-color: $theme-bg-color !important;
}

.navbar-nav > .nav-item > .nav-item > .dropdown-menu > .dropdown-item.active,
.navbar-nav > .nav-item > .nav-item > .dropdown-menu > .dropdown-item:active {
  background-color: $theme-bg-color;
}

.bg-theme {
  background-color: $theme-bg-color;
}

.bg-orange {
  background-color: orange;
}

.text-theme {
  color: $theme-text-color;
}

.btn-theme {
  background-color: $theme-bg-color !important;
  color: $theme-text-color !important;
}

.btn-theme:focus {
  box-shadow: 0 0 0 0.25rem rgba($theme-bg-color, 0.25) !important;
}

.break-words {
  word-break: break-word;
}